@font-face{
    font-family: 'Georgia';
    src: url('/fonts/Georgia/Georgia.woff2') format('woff2'), 
         url('/fonts/Georgia/Georgia.woff') format('woff');
    font-weight: 400;
}

$title_font: 'Open Sans', Arial, sans-serif;
$font: 'Georgia', san-serif;
$main_color: #4f4d6a;
*,
*::after,
*::before{
    box-sizing: border-box;
}
html{
    font-size: 12px;
}
body{
    font-family: $font;
    font-size: 1rem;
    font-weight: 400;
    color: $main_color;
}
h1,h2{
    margin: 0;
}
a{
    text-decoration: none;
    color: #000;
}
ul{
    list-style: none;
    padding-left: 0;
}
.container{
    max-width: 960px;
    margin: 0 auto;
    padding: 0 16px;
}
.header{
    background-image: url('/images/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    &__inner{
        padding-top: 35px;
        padding-bottom: 614px;
    }
    &__top{
        display: flex;
        justify-content: space-between;
    }
    &__menu{
        font-family: $title_font;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__list{
        display: flex;
    }
    &__item{
        margin-left: 30px;
    }
    &__text{
        padding-top: 70px;
        text-align: center;
    }
    &__buttons{
        padding-top: 45px;
    }
}
.logo{
    color: $main_color;
    &__text{
        font-size: calc(32/12 * 1em);
        font-weight: 400;
    }
    &__text--italic{
        font-style: italic;
    }
}
.title{
    padding-bottom: 30px;
    border-bottom: 1px solid #ffffff;
    overflow: hidden;
    &__words{
        font-size: calc(24/12 * 1em);
        font-style: italic;
    }
    &__words::after,
    &__words::before{
        content: "";
        display: inline-flex;
        verticalc-align: middle;
        width: 100%;
        height: 1px;
        background-color: #fff;
        border: solid #FFF;
	    border-width: 0 10px;
    }
    &__words::after{
        margin-right: -100%;
    }
    &__words::before{
        margin-left: -100%;
    }
    &__text{
        font-size: calc(125/12 * 1em);
        line-height: 130px;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__desc{
        font-family: $title_font;
        font-weight: 700;
        font-size: calc(18/12 * 1em);
        line-height: 24px;
        text-transform: uppercase;
    }
    &__text--smaller{
        font-size: calc(72/12*1em);
    }
    &--small{
        font-size: calc(24/12 * 1em);
        line-height: 30px;
        font-style: italic;
    }
}
.buttons{
    display: flex;
    justify-content: center;
}
.button{
    font-family: $font;
    font-size: calc(18/12 * 1em);
    font-style: italic;
    color: #ffffff;
    padding: 15px 56px;
    background-color: #615f7d;
    margin-right: 20px;
    border-radius: 21px;
    &--active{
        background-color: #c2b0bb;
        margin-right: 0;
    }
}
.works{
    background-color: #ebebeb;
    &__inner{
        padding: 65px 0 100px 0;
    }
    &__top{
        text-align: center;
    }
    &__list{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #fff;
        margin-bottom: 0;
    }
    &__item{
        width: 220px;
        margin-right: 20px;
    }
    &__item:last-child{
        margin-right: 0;
    }
    &__image{
        border: 22px solid rgba(255, 255, 255, .2);
        border-radius: 50%;
        margin-bottom: 20px;
    }
    &__title{
        font-size: calc(22/12 * 1em);
        font-family: $font;
        font-style: italic;
    }
    &__desc{
        font-family: $font;
        font-style: italic;
        font-size: calc(12/12 * 1em);
        line-height: 18px;
        text-align: left;
        
    }
    &__buttons{
        margin-top: 15px;
    }
}

.advantages{
    &__inner{
        padding: 60px 0 85px;
    }
    &__list{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        width: 295px;
        margin-right: 25px;
    }
    &__item::last-child{
        margin-right: 0;
    }
    &__text{
        font-style: italic;
        font-size: calc(12/12 * 1em);
        line-height: 20px;
        margin-bottom: 28px;
    }
    &__link{
        font-family: $font;
        font-weight: 700;
        color: #fff;
        padding: 6px 17px 7px 15px;
        background-color: #4f4d6a;
        border-radius: 4px;
    }
}

.footer{
    background-color: #505050;
    color: #ffffff;
    &__inner{
        padding: 50px 0 85px;
        display: flex;
        justify-content: space-between;
        
    }
    &__left-side{
        max-width: 575px;
        margin-right: 75px;
    }
    &__right-side{
        width: 260px;
    }
    &__desc,
    &__text{
        font-family: $title_font;
        font-size: calc(12/12 * 1em);
        line-height: 24px;
        margin-top: 25px;
    }
    &__copy{
        font-family: $title_font;
        font-size: calc(12/12 * 1em);
        margin-top: 50px;
        display: block;
    }
}
    

  
  