@media(min-width: 992px){
    .works__list{
        flex-wrap: nowrap;
    }
    .advantages__list{
        flex-wrap: nowrap;
    }
}
@media(min-width: 768px) and (max-width: 992px){
    .header{
        &-mobile{
            display: none;
        }
    }
    .works{
        &__item{
            flex-basis: calc(50% - 20px);
            text-align: center;
        }
        
    }
    .advantages{
        &__item{
            flex-basis: calc(33% - 25px);
            text-align: justify;
        }
        &__link{
           margin: 0 auto;
           display: table;
        }
    }
}
@media (min-width: 579px) and (max-width: 767px){
    .header{
        &__list{
            flex-wrap: nowrap;
            justify-content: space-evenly;
            align-items: center;
            font-size:calc(16/12 * 1em);
        }
        &__item{
            margin-left: 0;
        }
    }
}
@media (min-width: 576px) and (max-width:767px){
    .header{
        &__menu{
            display: none;
            position: absolute;
            top: 87px;
            left: 0;
            right: 0;
            text-align: center;
            z-index: 5;
            
        }
        &-mobile__item{
            display: block;
            width: 30px;
            height: 5px;
            background-color: #000000;
            margin-bottom: 5px;
            
        }
        
    }
    .buttons{
        justify-content: space-evenly;
    }
    .button:last-child{
        margin-right: 0;
    }
    .works{
        &__desc{
            text-align: justify;
        }
        &__title{
            text-align: center;
        }
        &__item{
            flex-basis: calc(50% - 20px);
            text-align: center;
        }
    }
    .advantages{
        &__list{
            flex-wrap: nowrap;
        }
        &__text{
            text-align: justify;
        }
        
        &__item:last-child{
            margin-right: 0;
        }
    }
    .title--small{
        text-align: left;
    }
}
@media(min-width: 320px) and (max-width: 575px){
    .header{
        &__top{
            justify-content: space-between;
            margin-bottom: 250px;
        }
        &__menu{
            display: none;
            position: absolute;
            top: 87px;
            left: 0;
            right: 0;
            text-align: center;
            z-index: 5;
            
        }
        &__list{
            flex-direction: column;
            padding-left: 0;
            width: 100%;
            
        }
        &__item{
            font-family: 'Georgia', san-serif;
            font-size: calc(16/12 * 1em);
            font-style: italic;
            color: #ffffff;
            padding: 15px 56px;
            background-color: #615f7d;
            margin: 0 20px 5px;
            border-radius: 21px;
            box-sizing: border-box;
            text-align: center;
            display: block;
        }
        .header__list > .header__item:hover{
            background-color: #c2b0bb;
        }
        &-mobile__item{
            display: block;
            width: 30px;
            height: 5px;
            background-color: #000000;
            margin-bottom: 5px;
            
        }
    }
    .title{
        &__text{
            font-size: 65px;
            line-height: 70px;
        }
    }
    .button{
        margin-bottom: 10px;
        margin-right: 0;
        width: 226px;
        box-sizing: border-box;
        text-align: center;
        padding: 15px 20px;
    }
    .works{
       &__list{
           flex-direction: column;
           align-items: center;
       } 
       &__item{
           text-align: center;
           margin-bottom: 10px;
           width: 100%;
       }
       &__desc{
           text-align: justify;
       }
    }
    .advantages{
        &__list{
            flex-direction: column;
            align-items: center;
        }
        &__item{
            margin-bottom: 20px;
            width: 100%;
        }
    }
    .footer{
        &__inner{
            flex-wrap: wrap;
        }
        &__right-side,
        &__left-side{
            width: 100%;
            text-align: justify;
        }
        &__left-side{
            margin-right: 0;
        }
        &__right-side{
            order: -1;
            margin-bottom: 10px;
            
        }
        &__copy{
            text-align: center;
        }
    }
}


@media (min-width: 992px) {
    .header__menu-list {
      display: flex !important;
    }
  }