@media (min-width: 992px) {
  .works__list {
    flex-wrap: nowrap;
  }

  .advantages__list {
    flex-wrap: nowrap;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .header-mobile {
    display: none;
  }

  .works__item {
    flex-basis: calc(50% - 20px);
    text-align: center;
  }

  .advantages__item {
    flex-basis: calc(33% - 25px);
    text-align: justify;
  }
  .advantages__link {
    margin: 0 auto;
    display: table;
  }
}
@media (min-width: 579px) and (max-width: 767px) {
  .header__list {
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: calc(16/12 * 1em);
  }
  .header__item {
    margin-left: 0;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .header__menu {
    display: none;
    position: absolute;
    top: 87px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 5;
  }
  .header-mobile__item {
    display: block;
    width: 30px;
    height: 5px;
    background-color: #000000;
    margin-bottom: 5px;
  }

  .buttons {
    justify-content: space-evenly;
  }

  .button:last-child {
    margin-right: 0;
  }

  .works__desc {
    text-align: justify;
  }
  .works__title {
    text-align: center;
  }
  .works__item {
    flex-basis: calc(50% - 20px);
    text-align: center;
  }

  .advantages__list {
    flex-wrap: nowrap;
  }
  .advantages__text {
    text-align: justify;
  }
  .advantages__item:last-child {
    margin-right: 0;
  }

  .title--small {
    text-align: left;
  }
}
@media (min-width: 320px) and (max-width: 575px) {
  .header__top {
    justify-content: space-between;
    margin-bottom: 250px;
  }
  .header__menu {
    display: none;
    position: absolute;
    top: 87px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 5;
  }
  .header__list {
    flex-direction: column;
    padding-left: 0;
    width: 100%;
  }
  .header__item {
    font-family: 'Georgia', san-serif;
    font-size: calc(16/12 * 1em);
    font-style: italic;
    color: #ffffff;
    padding: 15px 56px;
    background-color: #615f7d;
    margin: 0 20px 5px;
    border-radius: 21px;
    box-sizing: border-box;
    text-align: center;
    display: block;
  }
  .header .header__list > .header__item:hover {
    background-color: #c2b0bb;
  }
  .header-mobile__item {
    display: block;
    width: 30px;
    height: 5px;
    background-color: #000000;
    margin-bottom: 5px;
  }

  .title__text {
    font-size: 65px;
    line-height: 70px;
  }

  .button {
    margin-bottom: 10px;
    margin-right: 0;
    width: 226px;
    box-sizing: border-box;
    text-align: center;
    padding: 15px 20px;
  }

  .works__list {
    flex-direction: column;
    align-items: center;
  }
  .works__item {
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
  }
  .works__desc {
    text-align: justify;
  }

  .advantages__list {
    flex-direction: column;
    align-items: center;
  }
  .advantages__item {
    margin-bottom: 20px;
    width: 100%;
  }

  .footer__inner {
    flex-wrap: wrap;
  }
  .footer__right-side, .footer__left-side {
    width: 100%;
    text-align: justify;
  }
  .footer__left-side {
    margin-right: 0;
  }
  .footer__right-side {
    order: -1;
    margin-bottom: 10px;
  }
  .footer__copy {
    text-align: center;
  }
}
@media (min-width: 992px) {
  .header__menu-list {
    display: flex !important;
  }
}
